{% extends 'base.html.twig' %}

{% block title %}Edit FormStepChamps{% endblock %}

{% block body %}
    <h1>Edit FormStepChamps</h1>

    {{ include('form_step_champs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_form_step_champs_index') }}">back to list</a>

    {{ include('form_step_champs/_delete_form.html.twig') }}
{% endblock %}
