{% extends 'base.html.twig' %}

{% block title %}Edit FormEtatVariable{% endblock %}

{% block body %}
    <h1>Edit FormEtatVariable</h1>

    {{ include('form_etat_variable/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_form_etat_variable_index') }}">back to list</a>

    {{ include('form_etat_variable/_delete_form.html.twig') }}
{% endblock %}
