<form method="post" action="{{ path('app_monetique_variable_delete', {'id': monetique_variable.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ monetique_variable.id) }}">
    <button class="btn">Delete</button>
</form>
