{% extends 'base.html.twig' %}

{% block title %}Edit MonetiqueDroit{% endblock %}

{% block body %}
    <h1>Edit MonetiqueDroit</h1>

    {{ include('monetique_droit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_monetique_droit_index') }}">back to list</a>

    {{ include('monetique_droit/_delete_form.html.twig') }}
{% endblock %}
