{% extends 'base.html.twig' %}

{% block title %}New MonetiqueDroit{% endblock %}

{% block content %}
    <h1>Create new MonetiqueDroit</h1>

    {{ include('monetique_droit/_form.html.twig') }}

    <a href="{{ path('app_monetique_droit_index') }}">back to list</a>
{% endblock %}
