{% extends 'base.html.twig' %}

{% block title %}New MonetiqueDroitVariable{% endblock %}

{% block content %}
    <h1>Create new MonetiqueDroitVariable</h1>

    {{ include('monetique_droit_variable/_form.html.twig') }}

    <a href="{{ path('app_monetique_droit_variable_index') }}">back to list</a>
{% endblock %}
